/*==================================================
                   Bazaar Styles
==================================================*/

@import url("carousel.css");
@import url("fonts.css");

body {
	color: rgb(51,51,102);
	font-family: 'PT Sans', sans-serif;
}

.bazaar {
	margin-top: 38px;
	line-height: 1.2em;
}

.bazaartxt {
	letter-spacing: -1px;
}

.bazaarmediumtxt {
	font-size: 18px;
	font-weight: 700;
}

section.bazaarcollection {
	margin-top: 58px;
}

.bazaarmediumtxt a, .bazaarmediumtxt a:hover, section.bazaarcollection a, section.bazaarcollection a:hover{
	color: #333366;
	text-decoration: none;
}

.glyphicon {
	top: -1px;
	font-size: 9px;
}

.logo {
	margin: 17px 0;
}

.tagline {
	font-family: 'qlassik_boldregular', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	margin-top: 5px;
}

section.searchbar {
	margin-top: 20px;
}

.signins {
	margin-top: 27px;
}

.signins a, .signins a:hover {
	color: #333366;
	letter-spacing: 1px;
}

section.wishcart {
	margin-top: 19px;
}

section.wishcart a, section.wishcart a:hover {
	text-decoration: none;
}

section.clickoffer {
	margin-top: 40px;
}

section.clickoffer img {
	margin-top: -23px;
}

.bazaarlogins [class^="col-"] {
	border: 1px solid #dadada;
	margin-top: 81px;
}

.bazaarlogins [class="col-sm-12 col-md-6 welcome"] {
	border-right: 0;
	padding: 30px 25px 36px;
}

.bazaarlogins [class="col-sm-12 col-md-6 welcome"] h4 {
	color: #666666;
}

.bazaarcategories {
	border: 1px solid #dadada;
	padding-top: 10px;
}

.bazaarcategories h5 {
	color: #666666;
}

.bazaarcategories ul {
    list-style-type: none;
}

.bazaarads {
	padding-top: 10px;
}

.box{
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.13);
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.13);
  padding: 10px;
}

.r-margin{
  margin-top: 25px;
}

.r-padding .col-lg-1, .r-padding .col-lg-10, .r-padding .col-lg-11, .col-lg-12, .r-padding col-lg-2, .r-padding .col-lg-3, .r-padding .col-lg-4, .r-padding .col-lg-5, .r-padding .col-lg-6, .r-padding .col-lg-7, .r-padding .col-lg-8, .r-padding.col-l g-9, .col-md-1, .r-padding md-10, .r-padding .col-md-11, .r-padding .col-md-12, .r-padding .col-md-2, .r-padding .col-md-3, .r-padding .col-md-4, .r-padding .col-md-5, .r-padding .col-md-6, .r-padding .col-md-7, .r-padding .col-md-8, .r-padding .col-md-9, .r-padding .col-sm-1, .r-padding .col-sm-10, .r-padding .col-sm-11, .r-padding .col-sm-12 , .r-padding .col-sm-2, .r-padding .col-sm-3, .r-padding .col-sm-4, .r-padding .col-sm-5, .r-padding .col-sm-6, .r-padding .col-sm-7, .r-padding .col-sm-8, .r-padding .col-sm-9, .r-padding .col-xs-1, .r-padding .col-xs-10, .r-padding .col-xs-11, .r-padding .col-xs-12, .r-padding .col-xs-2, .r-padding .col-xs-3, .r-padding .col-xs-4, .r-padding .col-xs-5, .r-padding .col-xs-6, .r-padding .col-xs-7, .r-padding .col-xs-8, .r-padding .col-xs-9{
	padding-right: 10px!important;
	padding-left: 10px!important;
}

.media{
  margin-top: 10px!important;
}

.view-more{
  text-decoration: underline;
  color: rgb(51,51,102);
  margin-top: 9px;
}

.half-price{
  margin-bottom: 20px;
  background: rgb(203,0,51); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(203,0,51) 0%, rgb(157,0,39) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(203,0,51)), color-stop(100%,rgb(157,0,39))); /*     Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(203,0,51) 0%,rgb(157,0,39) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(203,0,51) 0%,rgb(157,0,39) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(203,0,51) 0%,rgb(157,0,39) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(203,0,51) 0%,rgb(157,0,39) 100%); /* W3C */
}

.half-price .view-more{
 color: #fff;
 margin-top: 13px;
 margin-right: 15px;
}

.item-wrap-recent{
  position: relative;
  margin-bottom: 15px;
}

.item-wrap-recent .item-price{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.52);
}
.item-wrap-recent .item-price{
  color: #fff;
  padding-left: 8px;
}
.item-wrap-recent .item-price span.item-name{
  font-weight: 700;
  font-size: 15px;
  display: block;
}
.item-wrap-recent .item-price span.current-price{
  font-size: 19px;
  font-weight: 700;
}
.item-wrap-recent .item-price span.last-price{
  font-weight: 700;
  text-decoration: line-through;
}

.items #wrap{
  -webkit-box-shadow: 2px 2px 7p0px rgba(0,0,0,0.13);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.13);
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.13);
  background: none;
}

.items #wrap #text-hover{
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.50);
  padding: 10px;
  font-weight: 700;
}

.items #wrap #text-hover .item-name{
  color: #fff;
  text-decoration: underline;
  font-size: 18px;
}
.items #wrap #text-hover .item-price{
  color: #fff;
  font-size: 25px;
  position: absolute;
  right: 10px;
}
.items #wrap #text-hover .add-to-cart{
  display: block;
  text-align: center;
  margin-top: 20px;
}
.items #wrap #text-hover .add-to-cart a{
  border: 1px #2284a1 solid;
  border-radius: 0;
  background: rgb(148,210,228); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(148,210,228) 0%, rgb(148,210,228) 2%, rgb(43,166,203) 2%, rgb(43,166,203) 2%, rgb(43,166,203) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(148,210,228)), color-stop(2%,rgb(148,210,228)), color-stop(2%,rgb(43,166,203)), color-stop(2%,rgb(43,166,203)), color-stop(100%,rgb(43,166,203))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(148,210,228) 0%,rgb(148,210,228) 2%,rgb(43,166,203) 2%,rgb(43,166,203) 2%,rgb(43,166,203) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(148,210,228) 0%,rgb(148,210,228) 2%,rgb(43,166,203) 2%,rgb(43,166,203) 2%,rgb(43,166,203) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(148,210,228) 0%,rgb(148,210,228) 2%,rgb(43,166,203) 2%,rgb(43,166,203) 2%,rgb(43,166,203) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(148,210,228) 0%,rgb(148,210,228) 2%,rgb(43,166,203) 2%,rgb(43,166,203) 2%,rgb(43,166,203) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94d2e4', endColorstr='#2ba6cb',GradientType=0 ); /* IE6-9 */

  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}
.items #wrap #text-hover .social-media{
  display: block;
  text-align: center;	
  margin-top: 20px;
}
.items #wrap #text-hover .social-media a{
  margin-left: 15px;
  margin-right: 15px;
}
.items #wrap #text-hover .category{
  position: absolute;
  bottom: 10px;
  color: #fcb914
}
.items #wrap #text-hover .category a{
  color: inherit;
  text-decoration: underline;
}

.items .item-wrap:hover > #wrap #text-hover{
  display: block;
}

.items .item-wrap:hover{
  -webkit-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.13);
}
 



.items hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px #b1b1b1 solid;
}


.items h4{
  font-weight: 500;
  font-size: 16px;
}

.items p {
  font-size: 12px;
}

.items .item-description{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-height: 80px;
}

.square {
	margin-left: 10px; 
	width: 10px; 
	height: 10px; 
	background: red; 
	color: #ffffff; 
	padding: 0 5px 0 5px;
}

section.securelog {
	margin-top: 113px;
}

section.securelog02 {
	margin-bottom: 152px;
}

.bazaarlogins [class="col-sm-12 col-md-6 loginform"] {
	color: #666666;
	padding: 45px 25px 40px;
}

.bazaarlogins [class="col-sm-12 col-md-6 loginform"] a, .bazaarlogins [class="col-sm-12 col-md-6 loginform"] a:hover {
	color: #666666;
	text-decoration: none;
}

.bazaarevo [class^="col-"] {
	border: 1px solid #dadada;
	margin-top: 27px;
	padding: 0 0 0 25px;
}

.bazaarlogorevo {
	margin-top: 25px;
}

footer {
	margin: 50px 0 10px 0;
}

.bazaarfoo .row {
	border-top: 3px solid #dadada;
}

section.bazaarfoos {
	margin-top: 19px;
}

.playvid {
	margin-top: 5px;
}

section.bazaarfoos [class="col-sm-12 col-md-3 foo4"] a, section.bazaarfoos [class="col-sm-12 col-md-3 foo4"] a:hover {
	color: #333366;
	text-decoration: none;
}

.sortby {
	float: left;
}

.sortby li {
display:block;
float:left;
margin: 10px;
}

.sortby a {
		text-decoration: none;
}

.active{
    border-width: 1px;
	border-style: solid;
    border-bottom-color: #ff0000;
	border-top-color: #ffffff;
	border-right-color: #ffffff;
	border-left-color: #ffffff;
	padding-bottom: 5px;
}

.pagination {
	padding-top: 10px;
	float: right;
}

.pagination li {
display:block;
float:left;
margin: 10px;
}

.pagination a {
		text-decoration: none;
}

.page-active{
	background: #ff0000;
	padding: 3px 6px;
	color: #ffffff;
}

hr { 
    display: block;
    border-style: inset;
    border-width: 2px;
}

.glyphicons-lg {
	font-size: 18px;
	color: #cc0033;
	margin-right: 10px;
}

#wrap {
    position:relative; /* make this relative to have the inner div absolute without     breaking out */
    background: #000000; 
}

#text {
    position: absolute; 
    width: 100%; 
	height: 25%;
    right: 0; 
    top: 10; 
    bottom: 0; 
    background: black;
	opacity: 0.6;
	padding-left: 8px;
	font-weight: bold;
}

.amount {
	font-size: 18px;
	color:white;
}

.discount {
	text-decoration: line-through;
	font-size: 12px;
	margin-left: 10px;
}

/*==================================================
                  Bazaar Buttons
==================================================*/

.btn-default {
	background: #fcfcfc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2YxZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YyZjNmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmU2ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #f1f3f3 20%, #f2f3f5 50%, #e2e6e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(20%,#f1f3f3), color-stop(50%,#f2f3f5), color-stop(100%,#e2e6e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f1f3f3 20%,#f2f3f5 50%,#e2e6e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#f1f3f3 20%,#f2f3f5 50%,#e2e6e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#f1f3f3 20%,#f2f3f5 50%,#e2e6e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfcfc 0%,#f1f3f3 20%,#f2f3f5 50%,#e2e6e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e2e6e8',GradientType=0 ); /* IE6-8 */
}

.btn-primary {
	background: #5d94d6; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkOTRkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTU2YWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #5d94d6 0%, #1956ad 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d94d6), color-stop(100%,#1956ad)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5d94d6 0%,#1956ad 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5d94d6 0%,#1956ad 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5d94d6 0%,#1956ad 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5d94d6 0%,#1956ad 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d94d6', endColorstr='#1956ad',GradientType=0 ); /* IE6-8 */
}


.btn-info {
	background: #7bddfd; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdiZGRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGE5ZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7bddfd 0%, #00a9e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bddfd), color-stop(100%,#00a9e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7bddfd 0%,#00a9e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7bddfd 0%,#00a9e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7bddfd 0%,#00a9e0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7bddfd 0%,#00a9e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bddfd', endColorstr='#00a9e0',GradientType=0 ); /* IE6-8 */	
}

.btn-danger {
	background: #d20f0a; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyMGYwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NjA1MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #d20f0a 0%, #960505 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d20f0a), color-stop(100%,#960505)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d20f0a 0%,#960505 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d20f0a 0%,#960505 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d20f0a 0%,#960505 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d20f0a 0%,#960505 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d20f0a', endColorstr='#960505',GradientType=0 ); /* IE6-8 */
}


/*==================================================
         Media Queries Windows Support                  
==================================================*/


@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	section.securelog {
		margin-top: 124px; 
	}
	section.securelog02 {
		margin-bottom: 124px; 
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.bazaarlogins [class="col-sm-12 col-md-6 welcome"] {
		border-right: 1px solid #dadada;
	}
	
	section.bazaarfoos [class="col-sm-12 col-md-3 foo1"], section.bazaarfoos [class="col-sm-12 col-md-3 foo2"],
	section.bazaarfoos [class="col-sm-12 col-md-3 foo3"], section.bazaarfoos [class="col-sm-12 col-md-3 foo4"] {
		margin-bottom: 30px;
	}
	
	.bazaarevo [class="revopic"] {
		float: none;
		display: none;
	}
	
	.bazaarevo [class="bazaarlogorevo"] {
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	.bazaarevo [id="fittext2"] {
		text-align: center;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) { 
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	 section.securelog li {
		margin-bottom: 9px;
	 }
	 
	 .bazaarevo [class^="col-"] {
		padding-right: 25px;
	}
}